@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto shadow" style="border-bottom:solid; border-bottom-color:rgba(0,0,0,0.4);">
            <h3>Control panel</h3>
            <br />
            <div class="container">
                <div class="col">
                    
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalNew">New</button>
                    <button type="button" class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#Completed" aria-expanded="false" aria-controls="Completed">Completed</button>
                    <form method="post" asp-page-handler="DelAll">
                        <button type="submit" class="btn btn-warning">Delete all completed task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="ModalNew" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="NewTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NewTaskLabel">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="Add">
                <div class="modal-body">
                    <div class="container m-3">

                        <div class="mb-2">
                            <span class="form-label" asp-validation-for="Title">Title</span>
                            <input class="form-control" asp-for="Title" />
                        </div>

                        <div class="mb-2">
                            <span class="form-label" asp-validation-for="Desc">Desc</span>
                            <input class="form-control" asp-for="Desc" />
                        </div>
                        
                        <div class="mb-2">
                            <span class="form-label" asp-validation-for="prio">Priority</span>
                            <select class="form-select" asp-for="prio">
                                <option value="0">low</option>
                                <option selected value="1">normal</option>
                                <option value="2">high</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container d-flex gap-4 justify-content-center">
    <div class="mb-3 col-6">
        <h3 class="text-center border-bottom">To-do</h3>
        <div class="d-flex justify-content-center flex-wrap">
            @foreach (var todo in Model.ToDoList)
            {
                if (!todo.IsCompleted == true)
                {
                    <div class="card col-7 mb-4 shadow" style=" box-shadow:black 10px">
                        <br />
                        <div class="card-body">

                            <h4 class="border-bottom card-title text-center">@todo.TaskTitle</h4>
                            <p class="text-center border-bottom">@todo.TaskDescription</p>
                            <p class="text-center">@todo.TaskPriority</p>
                            <footer>@todo.Created</footer>
                            <div class="modal-footer d-flex justify-content-center align-content-center flex-row">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalEdit">Edit</button>
                                <form method="post" asp-page-handler="Delete">
                                    <input asp-for="GUid" type="hidden" value="@todo.GUID" />
                                    <button class="btn btn-primary" type="submit">Delete</button>
                                </form>
                                <form method="post" asp-page-handler="Comp">
                                    <input asp-for="GUid" type="hidden" value="@todo.GUID" />
                                    <button class="btn btn-primary" type="submit">Complete</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal fade" id="ModalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EditTaskLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="EditTaskLabel">Task Edit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post" asp-page-handler="Edit">
                                        <div class="modal-body">
                                            <div class="container mb-3">

                                                <div class="flex-row mb-2">
                                                    <span class="form-label" asp-validation-for="Title">Title</span>
                                                    <input class="form-control" asp-for="Title" value="@todo.TaskTitle" />
                                                </div>

                                                <div class="flex-row mb-2">
                                                    <span class="form-label" asp-validation-for="Desc">Desc</span>
                                                    <input class="form-control" asp-for="Desc" value="@todo.TaskDescription" />
                                                </div>
                                                <div class="flex-row mb-2">
                                                    <span class="form-check-label" asp-validation-for="IsDone">complete</span>
                                                    <input class="form-check-input" asp-for="IsDone" type="checkbox" />
                                                </div>
                                                <div class="flex-row mb-2">
                                                    <span class="form-label" asp-validation-for="prio">Priority</span>
                                                    <select class="form-select" asp-for="prio">
                                                        <option value="0">low</option>
                                                        <option selected value="1">normal</option>
                                                        <option value="2">high</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <input asp-for="GUid" type="hidden" value="@todo.GUID" />
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <span class="border-bottom"></span>
                    </div>
                }
            }
        </div>
    </div>
    <div id="Completed" class="collapse mb-3 col-6">
        <h3 class="text-center border-bottom">Completed</h3>
        <div class="d-flex justify-content-center flex-wrap">
            @foreach (var todo in Model.ToDoList)
            {
                if (todo.IsCompleted == true)
                {
                    <div class="col-7 card mb-4 shadow" style="box-shadow:black 10px">
                        <br />
                        <div class=" card-body">
                            <h4 class="border-bottom card-title text-center">@todo.TaskTitle</h4>
                            <p class="text-center border-bottom">@todo.TaskDescription</p>
                            <p class="text-center">@todo.TaskPriority</p>
                            <footer>@todo.Created</footer>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalEdit">Edit</button>
                                <form method="post" asp-page-handler="Delete">
                                    <input asp-for="GUid" type="hidden" value="@todo.GUID" />
                                    <button class="btn btn-primary" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal fade" id="ModalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EditTaskLabel" aria-hidden="true">

                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="EditTaskLabel">Task Edit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post" asp-page-handler="Edit">
                                        <div class="modal-body">
                                            <div class="container mb-3">

                                                <input asp-for="GUid" type="hidden" value="@todo.GUID" />
                                                <div class="flex-row mb-2">
                                                    <span class="form-label" asp-validation-for="Title">Title</span>
                                                    <input class="form-control" asp-for="Title" value="@todo.TaskTitle" />
                                                </div>

                                                <div class="flex-row mb-2">
                                                    <span class="form-label" asp-validation-for="Desc">Desc</span>
                                                    <input class="form-control" asp-for="Desc" value="@todo.TaskDescription" />
                                                </div>
                                                <div class="flex-row mb-2">
                                                    <span class="form-check-label" asp-validation-for="IsDone">complete</span>
                                                    <input class="form-check-input" type="checkbox" checked asp-for="IsDone" />
                                                </div>
                                                <div class="flex-row mb-2">
                                                    <span class="form-label" asp-validation-for="prio">Priority</span>
                                                    <select class="form-select" asp-for="prio">
                                                        <option value="0">low</option>
                                                        <option value="1" selected>normal</option>
                                                        <option value="2">high</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <span class="border-bottom"> </span>
                    </div>
                }
            }
        </div>
    </div>
</div>
